.daily-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 12rem;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgb(41, 186, 159) 0%,
    rgb(44, 255, 115) 100%
  );
}

.daily-tasks__container {
  height: 90vh;
  width: 85vw;
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.daily-tasks__tasks {
  width: 78%;
}
